{% extends "templates/at_base.html" %}

{% block title %} Contact Us {% endblock %}

{% block content%}
    



<!--header start here--------------------------------------------------------------/-->
            <header class="site-header d-flex flex-column justify-content-center align-items-center img-article">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">blog</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">title</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">title</h2>

                           
                        </div>

                        <div class="col-lg-5 col-12">

                           
                        </div>

                    </div>
                </div>
            </header>


        </main>
		
{% endblock %}