{% extends "templates/at_base.html" %}

{% block title%} Contact Us {% endblock %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>contact</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/templatemo-topic-listing.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="images/topics/all targting.ico">
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    
    <body class="topics-listing-page" id="top">

        <main>

            <!--start nav bar ------------------------------------------------------------------------/-->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img class="img-logo" src="images/topics/logo.svg"></img>
                        <span class="text-light fs-5">All Targting</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="index.html">Back to Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="influencer.html">influencer</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="blog.html">blog</a>
                            </li>
                            
                           
                        </ul>






                        <div class="d-none d-lg-block">
                            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>





<!-- header start here------------------------/-->

            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Contact Form</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">Contact Form</h2>
                        </div>

                    </div>
                </div>
            </header>
<!-- form start here------------------------/-->

            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h3 class="mb-4 pb-2">We'd love to hear from you</h3>
                        </div>

                        <div class="col-lg-12 col-12">
                            <form action="#" method="post" class="custom-form contact-form" role="form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="">
                                            
                                            <label for="floatingInput">Name</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12"> 
                                        <div class="form-floating">
                                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">
                                            
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="subject" id="name" class="form-control" placeholder="Name" required="">
                                            
                                            <label for="floatingInput">Subject</label>
                                        </div>

                                        <div class="form-floating">
                                            <textarea class="form-control" id="message" name="message" placeholder="Tell me about the project"></textarea>
                                            
                                            <label for="floatingTextarea">Tell me about the project</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-12 ms-auto">
                                        <button type="submit" class="form-control">Submit</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                        </div>
                          </div>

<!-- contact us------------------------/-->
                          <div class="row section-padding ">
                          <div class="col-lg-6 col-12 mx-auto mt-5 mt-lg-0">
                            <div  class="row">
                              <div class="col-lg-6 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                                  <h4 class="mb-3">Head office</h4>
          
                                  <p>Egypt &amp;, Laxor</p>
          
                                  <hr>
          
                                  <p class="d-flex align-items-center mb-1">
                                      <span class="me-2">Phone</span>
          
                                      <a href="tel: +201063588999" class="site-footer-link">
                                          +201063588999
                                      </a>
                                  </p>
          
                                  <p class="d-flex align-items-center">
                                      <span class="me-2">Email</span>
          
                                      <a href="mailto:info@company.com" class="site-footer-link">
                                          info@alltargeting.com
                                      </a>
                                  </p>
                              </div>
          
                              <div class="col-lg-6 col-md-6 col-12 p-2 mx-auto">
                                  <h4 class="mb-3">Dubai office</h4>
          
                                  <p>Level 1 ,boulevard Central ,Downtown DUBAI
                                      Souq Albahar c3,United Arab Emirates</p>
          
                                  <hr>
          
                                  <p class="d-flex align-items-center mb-1">
                                      <span class="me-2">Phone</span>
          
                                      <a href="tel: +971561052254" class="site-footer-link">
                                          +971561052254
                                      </a>
                                  </p>
          
                                  <p class="d-flex align-items-center">
                                      <span class="me-2">Email</span>
          
                                      <a href="mailto:info@company.com" class="site-footer-link">
                                          info@alltargeting.com
                                      </a>
                                  </p>
                              </div>
                        </div>
                    
                    </div></div>
                </div>
           
   

{% endblock %}