{% extends "templates/at_base.html" %}
{% block meta_block %}
{% include "templates/includes/meta_block.html" %}
{% endblock %}
{% block title%} Home {% endblock %}
{% block content %}

<!--start header -------------------------------------------------------------------------->




<section class="section main-banner  " id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
    <source src="/assets/heero/images/Network.webm" type="video/webm" />
    </video>
    
    
    <div class="video-overlay header-text d-flex justify-content-center align-items-center">
    <div class="container ">
    <div class="row text-center">
    <div class="col-lg-12">
    <div class="caption">
    <h1 class=" text-center text-g2  ">All Targeting
       </h1>
    <h3 class="text-light text-shadow"> The Solution for Brands & Creators</h3>
    <h5  class="custom-icon text-g2">  Unleash Your Brand's Potential </h5>
    <p  class="text-light">
        Harness the authority of influencers to boost conversions and drive sales like never before.
       </p>
    <div class="main-button-red">
    <div class="scroll-to-section "><a href="https://alltargeting.com/us/contact" class="custom-btn2">Join Us Now!</a></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <style>
        .text-g2 {
            background: -webkit-linear-gradient(#02a187, #048524);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;}
    
    
    
    .main-banner {
    position: relative;
    max-height: 60%;
    overflow: hidden;
    margin-bottom: -7px;}
    
    
    .video-overlay {
    position: absolute;
    background-color: rgba(0, 2, 0, 0.733);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100vh ;
    }
    video{
        height:100vh ;  
    }
    
    .custom-btn2 {
     
        background: -webkit-linear-gradient(#03acc2, #048524);
        border: 2px solid transparent;
        border-radius: var(--border-radius-large);
        color: var(--white-color);
        font-size: var(--btn-font-size);
        font-weight: var(--font-weight-semibold);
        line-height: normal;
        transition: all 0.3s;
        padding: 10px 20px;
      
      }
      
      .custom-btn2:hover {
        background:  -webkit-linear-gradient( #04bd3270 ,#03cee9a1);
        color: var(--white-color);
      }
      
      .custom-border-btn2 {
        background: transparent;
        border: 2px solid var(--custom-btn-bg-color);
        color: var(--custom-btn-bg-color);
      }
      
      .custom-border2-btn:hover {
        background: var(--custom-btn-bg-color);
        border-color: transparent;
        color: var(--white-color);
      }
      
      .custom-btn-bg-white2 {
        border-color: var(--white-color);
        color: var(--white-color);
      }
   
        
   
    
  
    </style>
    





















<!--
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center ">AllTargeting </h1>

                <h5 class="text-center">The Solution for Brands & Creators</h5>

                <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">

                        </span>

                        <input name="keyword" type="search" class="form-control" id="keyword"
                            placeholder="influencers , Networks, ..." aria-label="Search">

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
-->

<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <h3 class="text-light text-shadow text-center ">Turn Audiences into Advocates</h3>
<!--
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="#">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Unleash Your Brand's Potential</h5>

                                <p class="mb-0">Harness the authority of influencers to boost conversions and drive
                                    sales like never before.
                                </p>
                                <p class="mb-0">Exclusive Middle East Influencer Network: Gain access to a curated
                                    network of exclusive influencers with a strong regional presence.
                                </p>
                            </div>


                        </div>

                        <img src="/assets/heero/images/topics/experts.svg" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>
-->
            <div class="col-lg-3 col-md-4 col-12  m-4">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="/assets/heero/images/businesswoman-using-tablet-analysis copy.webp"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>


                                <p class="text-white">
                                <ul>
                                                                    
                                    
                                    <li class="text-light"><b>Precision Targeting: </b>We know how to make your brand stand out. Our strategies are finely tuned to hit the bullseye of your audience.</li>
                                </ul>
                                </p>
                            </div>
                        </div>

                        <div class="social-share d-flex justify-content-end ">
                           
                           <!-- <a href="#" class="btn custom-btn p-t-2">Learn More</a>-->
                        </div>

                        <div class="section-overlay"></div>

                    </div>
                </div>

            </div>
















            <div class="col-lg-3  col-md-4 col-12  m-4">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="/assets/heero/images/businesswoman-using-tablet-analysis copy 2.webp"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                       

                                <p class="text-white">
                                <ul>
                                                                    
                                   
                                    <li class="text-light"><b>Proven Success :</b>
                                    
                                         We've been there, done that. Our 8-year journey speaks volumes about our expertise in influencer marketing.</li>
                                  
                                </ul>
                                </p>
                            </div>
                        </div>

                        <div class="social-share d-flex justify-content-end ">
                           
                         <!--   <a href="#" class="btn custom-btn p-t-2">Learn More</a> -->
                        </div>

                        <div class="section-overlay"></div>

                    </div>
                </div>

            </div>









            <div class="col-lg-3 col-md-4 col-12   m-4">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="/assets/heero/images/businesswoman-using-tablet-analysis.webp"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                              

                                <p class="text-white">
                                <ul>
                                                                    
                                    <li class="text-light"><b>One-Stop Solution:</b> From influencer partnerships to fine-tuned strategies, we've got it all. No need to look elsewhere for your digital growth needs.</li>
                                 
                                </ul>
                                </p>
                            </div>
                        </div>

                        <div class="social-share d-flex justify-content-end ">
                           
                      <!--     <a href="#" class="btn custom-btn p-t-2">Learn More</a>-->
                        </div>

                        <div class="section-overlay"></div>

                    </div>
                </div>

            </div>





        </div>
</section>










<!--start section networks-------------------------------------------------------------------------->



<section class="explore-section section-padding" id="section_2">
    <div class="container">

        <div class="col-12 text-center">
            <h2 class="mb-4">Our Networks</h1>
        </div>

    </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="design-tab" data-bs-toggle="tab"
                        data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane"
                        aria-selected="true">Fashion & Beauty
</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Healthcare-tab" data-bs-toggle="tab"
                        data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="Healthcare-tab-pane"
                        aria-selected="false">Healthcare and Medicine</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane"
                        type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Finance</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Education-tab" data-bs-toggle="tab" data-bs-target="#Education-tab-pane"
                        type="button" role="tab" aria-controls="music-tab-pane"
                        aria-selected="false">Education & Teaching</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Religion-tab" data-bs-toggle="tab" data-bs-target="#Religion-tab-pane"
                        type="button" role="tab" aria-controls="music-tab-pane"
                        aria-selected="false">Religion</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Technology-tab" data-bs-toggle="tab" data-bs-target="#Technology-tab-pane"
                        type="button" role="tab" aria-controls="music-tab-pane"
                        aria-selected="false">Technology</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#Gaming-tab-pane"
                        type="button" role="tab" aria-controls="music-tab-pane"
                        aria-selected="false">Gaming</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#food"
                        type="button" role="tab" aria-controls="music-tab-pane"
                        aria-selected="false">Food</button>
                </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!--start section networks Fashion -------------------------------------------------------------------------->
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel"
                        aria-labelledby="design-tab" tabindex="0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-7 col-md-7 col-12 mb-4 mb-lg-0 ">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="influencer.html">
                                        <div class=" d-flex ">
                                            <div>
                                                <h5 class="mb-2">Fashion & Beauty</h5>

                                                <p class="mb-0">
                                                    Whether you’re providing accessories, clothing, or beauty products, our fashion influencers can promote it for you and achieve the maximum possible reach on social media.

                                                </p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                                        </div>

                                        <img src="/assets/heero/images/topics/undraw_jewelry_iima.svg"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                           
                         
                           
                        </div>
                    </div>
                    <!--start section Healthcare -------------------------------------------------------------------------->
                    <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="Healthcare-tab"
                        tabindex="0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-7 col-md-7 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="influencer.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Healthcare and Medicine </h5>

                                                <p class="mb-0"> Do you provide medical or healthcare you need to promote? No problem. Our influencers can do it with ease, as they share their experience regarding nutrition, fitness, mental health, …etc.
</p>
                                            </div>

                                            <span class="badge bg-education  rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                                        </div>

                                        <img src="/assets/heero/images/health.svg"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            </div></div>

                            
                    <!--start section finance -------------------------------------------------------------------------->
                    <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab"
                        tabindex="0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-7 col-md-7 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="influencer.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Financial experts</h5>

                                                <p class="mb-0">Different financial aspects (Investment Strategies, Trading, Managing Expenses, Market Predictions, Personal finance, …etc.) urge for an expert and authentic promoter. Choose one from our list of mega-financial influencers.  

                                                </p>
                                            </div>

                                            <span class="badge bg-finance rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                                        </div>

                                        <img src="/assets/heero/images/topics/undraw_projections_re_ulc6 (1).svg"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                           
                        </div>
                    </div>








           
                 

                    <!--start section Education------------------------------------------------------------------------->
                    <div class="tab-pane fade" id="Education-tab-pane" role="tabpanel" aria-labelledby="Education-tab"
                        tabindex="0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-7 col-md-7 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="influencer.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Education & Teaching
                                                </h5>

                                                <p class="mb-0">Delivering the information to its recipient requires a certain level of experience. So as its related services. Educational-related products and services require the level of our influencers
                                                </p>
                                            </div>

                                            <span class="badge bg-advertising  rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                                        </div>

                                        <img src="/assets/heero/images/topics/undraw_education_f8ru.svg"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>




  <!--start section Religion------------------------------------------------------------------------>

                    <div class="tab-pane fade" id="Religion-tab-pane" role="tabpanel" aria-labelledby="Religion-tab-pane"
                    tabindex="0">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-7 col-md-7 col-12 mb-4 mb-lg-3">
                            <div class="custom-block bg-white shadow-lg">
                                <a href="influencer.html">
                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2">Religion
                                            </h5>

                                            <p class="mb-0">Make your religion-related (App, website, platform, …etc.) be heard from the beacon of our religious influencers.

                                            </p>
                                        </div>

                                        <span class="badge bg-music rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                                    </div>

                                    <img src="/assets/heero/images/topics/undraw_meditating_re_aiqa.svg"
                                        class="custom-block-image img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>





 <!--start section technology------------------------------------------------------------------------>

 <div class="tab-pane fade" id="Technology-tab-pane" role="tabpanel" aria-labelledby="Religion-tab-pane"
 tabindex="0">
 <div class="row d-flex justify-content-center">
     <div class="col-lg-7 col-md-7 col-12 mb-4 mb-lg-3">
         <div class="custom-block bg-white shadow-lg">
             <a href="influencer.html">
                 <div class="d-flex">
                     <div>
                         <h5 class="mb-2">Technology
                         </h5>

                         <p class="mb-0">From Smartphones & PCs to different accessories and set-ups, you can entrust the success of your campaign to our most professional and famous honest network of tech- influencers.

                         </p>
                     </div>

                     <span class="badge bg-music rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                 </div>

                 <img src="/assets/heero/images/topics/tech.svg"
                     class="custom-block-image img-fluid" alt="">
             </a>
         </div>
     </div>
 </div>
</div>


























                    <!--start section Gaming------------------------------------------------------------------------->
                    <div class="tab-pane fade" id="Gaming-tab-pane" role="tabpanel" aria-labelledby="Gaming-tab-pane"
                        tabindex="0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="influencer.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Gaming</h5>

                                                <p class="mb-0"> 

                                                    Wanna make your voice heard by gaming enthusiasts? Go ahead and talk to them through our gaming influencers. 


                                                </p>
                                            </div>

                                            <span class="badge bg-education rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                                        </div>

                                        <img src="/assets/heero/images/gaming.svg"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                    
                        </div>
                    </div>







                  


               <!--start section Lifestyle-------------------------------------------------------------------------->
               <div class="tab-pane fade" id="food" role="tabpanel" aria-labelledby="food"
                    tabindex="0">
                     <div class="row d-flex justify-content-center">
                     <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                   <div class="custom-block bg-white shadow-lg">
                     <a href="influencer.html">
                     <div class="d-flex">
                    <div>
                        <h5 class="mb-2">Food</h5>

                        <p class="mb-0"> Get the salivate of your targeted audience calls for your product. Go ahead and use their hunger to your service in your favorite.  

                        </p>
                    </div>

                    <span class="badge bg-education rounded-pill ms-auto"><i class="bi bi-bookmark-star-fill"></i></span>
                     </div>
 
                     <img src="/assets/heero/images/food.svg"
                     class="custom-block-image img-fluid" alt="">
                 </a>
                 </div>
              </div>


</div>
</div>















            </div>
        </div>
</section>
<!--start section  our Services-------------------------------------------->

<section class="timeline-section section-padding" id="section_3">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="text-white mb-4">Our Services</h1>
            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                    <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                        <div class="list-progress">
                            <div class="inner"></div>
                        </div>

                        <li>
                            <h4 class="text-white mb-3">Content Marketing
                                </h5>
                            </h4>

                            <p class="text-white"> Make your content be presented in the best possible form and impact your audience.
</p>

                            <div class="icon-holder">
                                <i class="bi bi-body-text"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">SEO Services</h4>

                            <p class="text-white"> Get your message to use the superpowers of SEO and increase its visibility in search results.
</p>

                            <div class="icon-holder">
                                <i class="bi bi-globe2"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Pay Per Click</h4>

                            <p class="text-white"> Start successful PPC campaigns can solve any kind of problem in your marketing funnel and get the highest returns.

</p>

                            <div class="icon-holder">
                                <i class="bi bi-hand-index-thumb"></i>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-12 text-center mt-5">
                <p class="text-white">
                    Want to learn more?
                    <a href="https://alltargeting.com/us/services" class="btn custom-btn custom-border-btn ms-3">Check out </a>
                </p>
            </div>
        </div>
    </div>
</section>

<!--
<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Know more about us </h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                <img src="/assets/heero/images/topics/faq_graphic.webp" class="img-fluid" alt="FAQs">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               1. What sets AllTargeting apart from other agencies?
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                At AllTargeting, our key differentiator lies in our holistic approach. With over 8 years of industry experience, we've honed the art of influencer marketing to perfection. Our exclusive contracts with mega and intermediate influencers in the Middle East give us unparalleled access to a diverse audience. We're not just about campaigns – we're about fostering authentic connections between influencers and brands, resulting in lasting impact. </strong>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                               2. How does AllTargeting ensure precision targeting for campaigns?
                            </button>
                        </h2>

                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Precision targeting is at the core of what we do. Our team of experts leverages advanced analytics, data-driven insights, and market research to identify your target audience with pinpoint accuracy. By understanding audience behavior, preferences, and trends, we create campaigns that resonate and engage on a meaningful level. Our track record of successful campaigns speaks volumes about our ability to hit the right mark every time.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. what is the Creators' MCN you offer?
                            </button>
                        </h2>

                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Our Creators' MCN is designed to empower content creators across various platforms. We handle the technical complexities while you focus on what you do best – creating captivating content. From growth strategies to monetization tips, we provide a comprehensive support system that helps you thrive in the digital landscape. Our MCN bridges the gap between creativity and strategy, ensuring your content reaches the right audience and achieves its full potential.

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
-->
<!--start section  contact-----------------------------------------------------------------/-->


<section  class=" section-padding">
    <div class="container m-3">
    <div class="row align-items-center">
    <div class="col-lg-6 text-center text-lg-start"><img class="img-fluid" src="/assets/heero/images/all-targeting.svg" alt="" /></div>
    <div class="col-lg-6">
    <h1 class="fs-xl-5 fs-lg-4  m-2 text-color">Pricing Policy</h1>
    <h3 fs-xl-6 fs-lg-5 fs-4>Our pricing policy is very flexible and earmarked to <a class="text-color">achieve your goals </a> depending on Number of</h3>
    <ul class="list-unstyled my-xl-5 my-3">
    <li class="fs-3 my-4 d-flex align-items-center gap-3 text-black"><i class="bi bi-activity text-color"></i><span>Number of episodes.</span></li>
    <li class="fs-3 my-4 d-flex align-items-center gap-3 text-black"><i class="bi bi-arrows-fullscreen text-color"></i><span> Advertising space.</span></li>
    <li class="fs-3 my-4 d-flex align-items-center gap-3 text-black"><i class="bi bi-person-lines-fill text-color"></i><span>Engagement. </span></li>
    <li class="fs-3 my-4 d-flex align-items-center gap-3 text-black"><i class="bi bi-shop text-color"></i><span> Product.</span></li>

</ul><a class="btn custom-btn" href="https://alltargeting.com/us/contact">Start now</a>
    </div>
    </div>
    </div><!-- end of .container-->
    </section><!-- <section> close ============================-->
    
    
    








<section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Contact us</h2>
            </div>

            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.3463217727167!2d55.27827491924037!3d25.191540774488573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f682b909f898f%3A0xaedce04c824602de!2sBoulevard%20Central!5e0!3m2!1sar!2seg!4v1691933010080!5m2!1sar!2seg"
                    width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                <h4 class="mb-3">Head office</h4>

                <p>Egypt &amp;, Luxor</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: +201063588999" class="site-footer-link">
                        +201063588999
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link" target="_blank">
                        info@alltargeting.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mx-auto">
                <h4 class="mb-3">Dubai office</h4>

                <p>Level 1 ,boulevard Central ,Downtown DUBAI
                    Souq Albahar c3,United Arab Emirates</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: +971561052254" class="site-footer-link">
                        +971561052254
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link" target="_blank">
                        info@alltargeting.com
                    </a>
                </p>
            </div>

        </div>
    </div>
</section>
</main>
<!--start section  footer-----------------------------------------------------------------/-->
{% endblock %}