<!doctype html>
<html lang="En">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
        content="Elevate your brand with influencer marketing and advertising solutions. Exclusive contracts with Middle East influencers. Get expert advice from AllTargeting.">
    <meta name="Title" content="Influencer Marketing & Advertising Services | AllTargeting">
    <meta name="Keywords"
        content=" Influencer marketing, advertising agency, Middle East influencers, exclusive contracts, brand elevation, expert advice,Multi Channel Network , MCN">
    <meta name="og:title" content=" Influencer Marketing & Advertising Services | AllTargeting">
    <meta name="language" content="en-US">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P7V7TZBK');</script>
    <!-- End Google Tag Manager -->
    <meta property="og:image" content="/assets/heero/images/topics/logo2.webp" />



    <title> AllTargeting | {% block title%} {% endblock %} </title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="icon" type="image/x-icon" href="/assets/heero/images/topics/all targting.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/assets/heero/favicon/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="/assets/heero/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/heero/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/assets/heero/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/assets/heero/css/templatemo-topic-listing.css" rel="stylesheet">





<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7V7TZBK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main>
        <!--start nav bar ------------------------------------------------------------------------/-->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img class="img-logo" src="/assets/heero/images/topics/all.gif">
                    <span class="text-g  fs-5" >All Targeting</span>
                </a>
<style>
    .text-g {
    background: -webkit-linear-gradient(#018c96, #039928);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
</style>
                {# <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div> #}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link "  href="/">Home</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link " href="/brands">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/creators">Creators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/us/services">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="/us/contact">Contact Us</a>
                        </li>

                        {# <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="/influencer">influencer</a></li>
                                <li><a class="dropdown-item" href="/blog">Blog</a></li>
                                <li><a class="dropdown-item" href="/us/contact">Contact Form</a></li>
                            </ul>
                        </li> #}
                    </ul>






                    {# <div class="d-none d-lg-block">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div> #}
                </div>
            </div>
        </nav>


        {% block content %}

        {% endblock %}



        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand" href="/">
                            <img class="img-logo" src="/assets/heero/images/topics/logo2.webp">
                            <span class="fs-5">All Targeting</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="/" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="https://alltargeting.com/us/services" class="site-footer-link">services</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="https://alltargeting.com/brands" class="site-footer-link">Brands</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/us/contact" class="site-footer-link">Contact US</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="https://wa.me/201200149100" class="site-footer-link">
                                +201200149100
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@alltargeting.com" class="site-footer-link">
                                info@alltargeting.com
                            </a>
                        </p>
                        <a class="secondary-color fs-2 p-1" href="https://www.facebook.com/alltargting.co">
                            <i class="bi bi-facebook"></i>
                        </a>

                        <a class="secondary-color fs-2  p-1" href="https://wa.me/201200149100">
                            <i class="bi bi-whatsapp"></i>
                        </a>

                        <a class="secondary-color fs-2  p-1" href="https://www.instagram.com/alltargeting">
                            <i class="bi bi-instagram"></i>
                        </a>

                        <a class="secondary-color fs-2  p-1" href="https://ae.linkedin.com/company/all-targeting-media-and-marketing">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">


                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2023 <a rel="nofollow"
                                href="https://alltragting.com/" target="_blank">All Targeting</a>
</p>
                    </div>

                </div>
            </div>
        </footer>


        <script src="/assets/heero/js/jquery.min.js"></script>
        <script src="/assets/heero/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/heero/js/jquery.sticky.js"></script>
        <script src="/assets/heero/js/click-scroll.js"></script>
        <script src="/assets/heero/js/owl.carousel.min.js"></script>
        <script src="/assets/heero/js/custom.js"></script>

        <script>

         

          


        </script>

</body>

</html>