{% extends "templates/at_base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}

<body class="topics-listing-page" id="top">
    <main>
        <!-- ... existing content ... -->

        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <!-- Loop through the topics and render them dynamically -->
                    {% for post in frappe.get_all("Topic", filters={}, fields=["cover", "title", "route"], order_by="creation desc", limit_page_length=3) %}
                    <div class="col-lg-4 col-md-4 col-12 mt-lg-3">
                        <div class="custom-block custom-block-overlay">
                            <div class="d-flex flex-column h-100">
                                <img src="{{ post.cover }}" class="custom-block-image img-fluid" alt="{{ post.title }}">

                                <div class="custom-block-overlay-text d-flex">
                                    <div>
                                        <h5 class="text-white mb-2">{{ post.title }}</h5>
                                        <a href="/topics/{{ post.route }}" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                    </div>
                                </div>
                                <div class="section-overlay"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>
</body>

{% endblock %}
